<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new user</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/user-create}" th:object="${user}">
    <label for="name">Enter name:</label>
    <input type="text" th:field="*{name}" id="name" required minlength="2" maxlength="20"/>
    <!--    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>-->
    <br/>

    <label for="lastName">Enter lastname:</label>
    <input type="text" th:field="*{lastName}" id="lastName" required minlength="2" maxlength="20"/>
    <!--    <div style="color: red"  th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Lastname error</div>-->
    <br/>

    <label for="age">Enter age:</label>
    <input type="text" th:field="*{age}" id="age"/>
    <!--    <div style="color: red"  th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>-->
    <br/>

    <label for="pass">Enter password:</label>
    <input type="password" th:field="*{password}" id="pass" required minlength="2" maxlength="20"/>

    <br/>

    <label for="login">Enter login:</label>
    <input type="text" th:field="*{login}" id="login" required minlength="2" maxlength="20"/>

    <br/>

    <div class="form-group row">
        <label class="col-4 col-form-label">Choose roles: </label>
        <div class="col-8">
            <th:block th:each="role: ${listRoles}">
                <input type="checkbox" th:field="*{roles}"
                       th:text="${role.name}" th:value="${role.id}" class="m-2" />
            </th:block>
        </div>
    </div>

    <input type="submit" value="Add user"/>
</form>
</body>
</html>